<div class="container-fluid title pt-5">
  <h1 class="display-4 text-center">Welcome to Gift Connect!</h1>
  <p class="lead text-center">Your one stop shop to keep track of all your gift needs.</p>

  <div class="row">
    <div class="col-md-3 col-5 offset-md-9 offset-6">
      <a class="btn btn-log btn-lg" id="btn-login" href="login.ejs" role="button">Log
        in</a>
    </div>
  </div>
  <hr class="my-4">
</div>