<div class="container-fluid">
  <h1 class="display-4 text-center">Welcome to Gift Connect!</h1>
  <p class="lead text-center">This is your one stop shop to keep track of all your gift needs.</p>
  <p class="d-grid gap-2 d-flex justify-content-end">
    <a class="btn btn-secondary btn-lg justify-content-end" id="btn-login" href="login.ejs" role="button">Log
      in</a>
  </p>
  <hr class="my-4">
</div>