body{
  background-color: #c2ebf3;
}

#container {
  width: 550px;
  margin: 0 auto;
}

.container {
  width: 650px;
  margin: 0 auto;
}

#footer {
  padding: 40px 0 0 0;
  overflow: hidden;
  margin: 0 0 30px 0;
}

#footer p#copyright {
  font-size: 18px;
  float: left;
  margin: 0 0 0 30px;
  color: #070707;
}

#footer p#contact-form {
  font-size: 18px;
  text-align: center;
  margin: 0 0 0 30px;
  color: #070707;
}

#footer p#back-top {
  font-size: 18px;
  float: right;
  margin: 0 30px 0 0;
}

#footer a {
  color: #a12121;
  text-decoration: none;
}

#footer a:hover {
  color: #671111;
}

.btn-my{
  background-color: #1d95a5;
  color: whitesmoke;
}

.btn-log{
  background-color: #305b69;
  color: whitesmoke;
}

.svg{
  max-width: 500px;
}

.title{
  font-family: 'Courgette', cursive, sans-serif;
}

.edit-btn{
  background-color: #23c1dd;
  color: white;
}

.delete-btn{
  background-color: #ed3847;
}